<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='Goals')">
    <title>Goals</title>
</head>
<body>
    <div th:replace="fragments/header :: navbar"></div>

    <div class="container-fluid">
        <div class="row wrapper min-vh-100 flex-column flex-sm-row">
            <div th:replace="fragments/header :: sidebar"></div>
            <main class="col bg-faded">
                <div class="container p-3 m-1">
                    <h2>Goals</h2>
                    <small>Create new goals</small>
                </div>
                <form>
                    <label for="goalname">Goal Name</label><br>
                    <input type="text" id="goalname" name="goalname"><br>
                    <fieldset id="Activity:">
                        <input type="radio" value="">
                        <input type="radio" value="">
                        <input type="radio" value="">
                    </fieldset>
                    <label>Other</label>

                    <label for="notes">Notes:</label><br>
                    <textarea rows = "5" cols = "60" name = "notes" id="notes"></textarea><br>
                    <input type = "submit" value = "Create Goal" />
                </form>
            </main>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>