<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='Home')">
    <title>Home</title>
</head>
<body>
    <div th:replace="fragments/header :: navbar"></div>

    <div class="container-fluid">
        <div class="row min-vh-100 flex-column flex-sm-row">
            <div th:replace="fragments/header :: sidebar"></div>
            <main class="col bg-faded">
                <div class="row flex-column">
                    <div class="col pt-2">
                        <h2>
                            Home |
                            <small>Welcome, <span th:text="${user.firstname}"></span>!</small>
                        </h2>
                    </div>
                </div>
                <div class="row flex-wrap">
                    <div class="col-12 col-sm col-xl-5 p-1 m-1">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-bottom-0 border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-6">
                                        <h5>My Profile</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <dl class="row flex-wrap no-gutters p-2">
                                    <dt class="col-12 col-sm-4">Name</dt>
                                    <dd class="col-12 col-sm">
                                        <span th:text="${user.getFirstname()} + ' ' + ${user.getLastname()}"></span>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4">Age</dt>
                                    <dd class="col-12 col-sm">
                                        <span id="age"></span>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4">Birthday</dt>
                                    <dd class="col-12 col-sm">
                                        <span th:text="${user.getBirthdate()}"></span>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4">Height</dt>
                                    <dd class="col-12 col-sm">
                                        <span th:text="${user.getHeight()} + ' cm'"></span>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4">Weight</dt>
                                    <dd class="col-12 col-sm">
                                        <span th:text="${user.getWeight()} + ' kg'"></span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm col-xl-5 p-1 m-1">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-bottom-0 border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-6">
                                        <h5>Goals</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row flex-wrap">
                    <div class="col-12 col-sm col-xl-5 p-1 m-1">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-bottom-0 border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-6">
                                        <h5>Today's Training Plan</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm col-xl-5 p-1 m-1">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-bottom-0 border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-7">
                                        <h5>Upcoming Training Plan</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{/js/home.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        calculateAge([[${user.getBirthdate()}]]);
    </script>
</body>
</html>