<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='Home')">
    <title>Home</title>
</head>
<body>
    <div th:replace="fragments/header :: navbar"></div>

    <div class="container-fluid">
        <div class="row min-vh-100 flex-column flex-sm-row">
            <div th:replace="fragments/header :: sidebar"></div>
            <main class="col bg-faded p-3">
                <div class="row flex-column no-gutters pl-2">
                    <div class="col">
                        <h2>
                            Home |
                            <small>Welcome, <span th:text="${user.firstname}"></span>!</small>
                        </h2>
                    </div>
                </div>
                <div class="row flex-wrap no-gutters">
                    <div class="col-12 col-sm col-xl-5 p-1 m-2">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-top border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-6">
                                        <h5>My Profile</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <dl class="row flex-wrap no-gutters p-2">
                                    <dt class="col-12 col-sm-4">Name</dt>
                                    <dd class="col-12 col-sm">
                                        <span th:text="${user.getFirstname()} + ' ' + ${user.getLastname()}"></span>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4">Age</dt>
                                    <dd class="col-12 col-sm">
                                        <span id="age"></span>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4">Birthday</dt>
                                    <dd class="col-12 col-sm">
                                        <span id="birthday"></span>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4" th:if="${user.getPrimarysport() != null}">Type of Athlete</dt>
                                    <dd class="col-12 col-sm" th:if="${user.getPrimarysport() != null}">
                                        <span class="text-capitalize" th:text="${user.getPrimarysport().getName()}"></span>
                                    </dd>
                                    <div class="w-100 dropdown-divider mb-3"></div>
                                    <dt class="col-12 col-sm-4">Height</dt>
                                    <dd class="col-12 col-sm">
                                        <span id="height" th:text="${user.getHeight()}"></span>
                                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-outline-primary active" for="height-cm">cm
                                                <input type="radio" name="height-cm" id="height-cm" onclick="convertHeightToCm()" checked>
                                            </label>
                                            <label class="btn btn-outline-primary" for="height-ft">ft/in
                                                <input type="radio" name="height-ft" id="height-ft" onclick="convertHeightToFt()">
                                            </label>
                                        </div>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4">Weight</dt>
                                    <dd class="col-12 col-sm">
                                        <span id="weight" th:text="${user.getWeight()}"></span>
                                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-outline-primary active" for="weight-kg">kg
                                                <input type="radio" name="weight-kg" id="weight-kg" onclick="convertWeightToKg()" checked>
                                            </label>
                                            <label class="btn btn-outline-primary" for="weight-lbs">lbs
                                                <input type="radio" name="weight-lbs" id="weight-lbs" onclick="convertWeightToLbs()">
                                            </label>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm col-xl-5 p-1 m-2">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-top border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-6">
                                        <h5>Goals</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <ul class="row flex-column no-gutters list-unstyled p-2">
                                    <li class="col media">
                                        <span class="bg-dark text-light rounded p-1 mr-3">
                                            <i class="fas fa-swimmer fa-lg fa-fw"></i>
                                        </span>
                                        <div class="media-body">
                                            <h6>Swimming Goals</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Miles</div>
                                            </div>
                                            <div class="w-100 m-3"></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Time</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col dropdown-divider"></li>
                                    <li class="col media">
                                        <span class="bg-dark text-light rounded p-1 mr-3">
                                            <i class="fas fa-biking fa-lg fa-fw"></i>
                                        </span>
                                        <div class="media-body">
                                            <h6>Cycling Goals</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Miles</div>
                                            </div>
                                            <div class="w-100 m-3"></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Time</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col dropdown-divider"></li>
                                    <li class="col media">
                                        <span class="bg-dark text-light rounded p-1 mr-3">
                                            <i class="fas fa-running fa-lg fa-fw"></i>
                                        </span>
                                        <div class="media-body">
                                            <h6>Running Goals</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Miles</div>
                                            </div>
                                            <div class="w-100 m-3"></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Time</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row flex-wrap no-gutters">
                    <div class="col-12 col-sm col-xl-5 p-1 m-2">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-top border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-6">
                                        <h5>Today's Training Plan</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row flex-column no-gutters p-2">
                                    <div class="col text-info p-1">
                                        <span>
                                            <i class="fas fa-swimmer fa-lg fa-fw"></i>
                                            Swimming
                                        </span>
                                    </div>
                                    <div class="col bg-light text-dark border border-info rounded p-1">
                                        <span>
                                            200 yards - Warm up<br>
                                            4 x 50 yards (30s rest)<br>
                                            4 x 25 yards<br>
                                            4 x 50 yards (30s rest)<br>
                                            200 yards - Cool down
                                        </span>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col text-warning p-1">
                                        <span>
                                            <i class="fas fa-biking fa-lg fa-fw"></i>
                                            Cycling
                                        </span>
                                    </div>
                                    <div class="col bg-light text-dark border border-warning rounded p-1">
                                        <span>
                                            10 min - Warm-up<br>
                                            30 min - Moderate
                                        </span>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col text-danger p-1">
                                        <span>
                                            <i class="fas fa-running fa-lg fa-fw"></i>
                                            Running
                                        </span>
                                    </div>
                                    <div class="col bg-light text-dark border border-danger rounded p-1">
                                        <span>
                                            30 min - Easy
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm col-xl-5 p-1 m-2">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-top border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-7">
                                        <h5>Upcoming Training Plan</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row flex-column no-gutters p-2">
                                    <div class="col text-info p-1">
                                        <span>
                                            <i class="fas fa-swimmer fa-lg fa-fw"></i>
                                            Swimming
                                        </span>
                                    </div>
                                    <div class="col bg-light text-dark border border-info rounded p-1">
                                        <span>
                                            200 yards - Warm-up<br>
                                            10 x 50 yards (10s rest)<br>
                                            5 x 75 yards (5s rest)<br>
                                            200 yards - Cool down
                                        </span>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col text-warning p-1">
                                        <span>
                                            <i class="fas fa-biking fa-lg fa-fw"></i>
                                            Cycling
                                        </span>
                                    </div>
                                    <div class="col bg-light text-dark border border-warning rounded p-1">
                                        <span>
                                            30 min - Easy<br>
                                        </span>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col text-danger p-1">
                                        <span>
                                            <i class="fas fa-running fa-lg fa-fw"></i>
                                            Running
                                        </span>
                                    </div>
                                    <div class="col bg-light text-dark border border-danger rounded p-1">
                                        <span>
                                            20 min - Easy<br>
                                            10 min - Goal race pace<br>
                                            10 min - Easy
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <script type="text/javascript" th:inline="javascript">
        const userBirthdate = [[${user.getBirthdate()}]];
        const userHeight = [[${user.getHeight()}]];
        const userWeight = [[${user.getWeight()}]];
    </script>
    <script th:src="@{/js/home.js}"></script>
</body>
</html>