<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='Home')">
    <title>Home</title>
</head>
<body>
    <div th:replace="fragments/header :: navbar"></div>

    <div class="container-fluid">
        <div class="row min-vh-100 flex-column flex-sm-row">
            <div th:replace="fragments/header :: sidebar"></div>
            <main class="col bg-faded p-3">
                <div class="row flex-column no-gutters pl-2">
                    <div class="col">
                        <h2>
                            Home |
                            <small>Welcome, <span th:text="${user.firstname}"></span>!</small>
                        </h2>
                        <h4 th:if="${nextRace != null && nextRace.date != null}"><span th:text="'Your next race is: ' + ${nextRace.name} + ' on ' + ${nextRace.date}"></span></h4>
                    </div>
                </div>
                <div class="row flex-wrap no-gutters">
                    <div class="col-12 col-sm col-xl-5 p-1 m-2">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-top border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-6">
                                        <h5>My Profile</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <dl class="row flex-wrap no-gutters p-2">
                                    <dt class="col-12 col-sm-4">Name</dt>
                                    <dd class="col-12 col-sm">
                                        <span th:text="${user.getFirstname()} + ' ' + ${user.getLastname()}"></span>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4">Age</dt>
                                    <dd class="col-12 col-sm">
                                        <span id="age"></span>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4">Birthday</dt>
                                    <dd class="col-12 col-sm">
                                        <span id="birthday"></span>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4" th:if="${user.getPrimarysport() != null}">Type of Athlete</dt>
                                    <dd class="col-12 col-sm" th:if="${user.getPrimarysport() != null}">
                                        <span class="text-capitalize" th:text="${user.getPrimarysport().getName()}"></span>
                                    </dd>
                                    <div class="w-100 dropdown-divider mb-3"></div>
                                    <dt class="col-12 col-sm-4">Height</dt>
                                    <dd class="col-12 col-sm">
                                        <span id="height" th:text="${user.getHeight()}"></span>
                                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-outline-primary active" for="height-cm">cm
                                                <input type="radio" name="height-cm" id="height-cm" onclick="convertHeightToCm()" checked>
                                            </label>
                                            <label class="btn btn-outline-primary" for="height-ft">ft/in
                                                <input type="radio" name="height-ft" id="height-ft" onclick="convertHeightToFt()">
                                            </label>
                                        </div>
                                    </dd>
                                    <div class="w-100"></div>
                                    <dt class="col-12 col-sm-4">Weight</dt>
                                    <dd class="col-12 col-sm">
                                        <span id="weight" th:text="${user.getWeight()}"></span>
                                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-outline-primary active" for="weight-kg">kg
                                                <input type="radio" name="weight-kg" id="weight-kg" onclick="convertWeightToKg()" checked>
                                            </label>
                                            <label class="btn btn-outline-primary" for="weight-lbs">lbs
                                                <input type="radio" name="weight-lbs" id="weight-lbs" onclick="convertWeightToLbs()">
                                            </label>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm col-xl-5 p-1 m-2">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-top border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-6">
                                        <h5>Goals</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <ul class="row flex-column no-gutters list-unstyled p-2">
                                    <li class="col media">
                                        <span class="bg-dark text-light rounded p-1 mr-3">
                                            <i class="fas fa-swimmer fa-lg fa-fw"></i>
                                        </span>
                                        <div class="media-body">
                                            <h6>Swimming Goals</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Miles</div>
                                            </div>
                                            <div class="w-100 m-3"></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Time</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col dropdown-divider"></li>
                                    <li class="col media">
                                        <span class="bg-dark text-light rounded p-1 mr-3">
                                            <i class="fas fa-biking fa-lg fa-fw"></i>
                                        </span>
                                        <div class="media-body">
                                            <h6>Cycling Goals</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Miles</div>
                                            </div>
                                            <div class="w-100 m-3"></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Time</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col dropdown-divider"></li>
                                    <li class="col media">
                                        <span class="bg-dark text-light rounded p-1 mr-3">
                                            <i class="fas fa-running fa-lg fa-fw"></i>
                                        </span>
                                        <div class="media-body">
                                            <h6>Running Goals</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Miles</div>
                                            </div>
                                            <div class="w-100 m-3"></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Time</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row flex-wrap no-gutters">
                    <div class="col-12 col-sm col-xl-5 p-1 m-2">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-top border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-6">
                                        <h5>Today's Training Plan</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row flex-column no-gutters p-2" th:if="${planToday != null}">
                                    <div class="col" th:if="${!planToday.swimworkout.isEmpty() or planToday.swimdistance != 0.0 or planToday.swimtime != 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-info p-1">
                                                <span>
                                                    <i class="fas fa-swimmer fa-lg fa-fw"></i>
                                                    Swimming
                                                </span>
                                            </div>
                                            <div class="col bg-light text-dark border border-info rounded p-1">
                                                <div class="row no-gutters border border-info rounded p-1 mb-1" th:if="${!planToday.swimworkout.isEmpty()}">
                                                    <div class="col">
                                                        <span style="white-space: pre-wrap" th:text="${planToday.swimworkout}"></span>
                                                    </div>
                                                </div>
                                                <dl class="row flex-wrap no-gutters border border-info rounded pt-1 px-1 mb-0">
                                                    <dt class="col-12 col-sm-5">Total Distance (mi):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planToday.swimdistance}"></span>
                                                    </dd>
                                                    <div class="w-100"></div>
                                                    <dt class="col-12 col-sm-5">Total Time (min):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planToday.swimtime}"></span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" th:if="${planToday.swimworkout.isEmpty() and planToday.swimdistance == 0.0 and planToday.swimtime == 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-secondary p-1">
                                                <span>
                                                    <i class="fas fa-swimmer fa-lg fa-fw"></i>
                                                    Swimming
                                                </span>
                                            </div>
                                            <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                                <span class="font-weight-light font-italic">
                                                    <i class="fas fa-swimmer fa-4x fa-fw py-2"></i>
                                                    <br>
                                                    Rest
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col" th:if="${!planToday.cycleworkout.isEmpty() or planToday.cycledistance != 0.0 or planToday.cycletime != 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-warning p-1">
                                                <span>
                                                    <i class="fas fa-biking fa-lg fa-fw"></i>
                                                    Cycling
                                                </span>
                                            </div>
                                            <div class="col bg-light text-dark border border-warning rounded p-1">
                                                <div class="row no-gutters border border-warning rounded p-1 mb-1" th:if="${!planToday.cycleworkout.isEmpty()}">
                                                    <div class="col">
                                                        <span style="white-space: pre-wrap" th:text="${planToday.cycleworkout}"></span>
                                                    </div>
                                                </div>
                                                <dl class="row flex-wrap no-gutters border border-warning rounded pt-1 px-1 mb-0">
                                                    <dt class="col-12 col-sm-5">Total Distance (mi):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planToday.cycledistance}"></span>
                                                    </dd>
                                                    <div class="w-100"></div>
                                                    <dt class="col-12 col-sm-5">Total Time (min):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planToday.cycletime}"></span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" th:if="${planToday.cycleworkout.isEmpty() and planToday.cycledistance == 0.0 and planToday.cycletime == 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-secondary p-1">
                                                <span>
                                                    <i class="fas fa-biking fa-lg fa-fw"></i>
                                                    Cycling
                                                </span>
                                            </div>
                                            <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                                <span class="font-weight-light font-italic">
                                                    <i class="fas fa-biking fa-4x fa-fw py-2"></i>
                                                    <br>
                                                    Rest
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col" th:if="${!planToday.runworkout.isEmpty() or planToday.rundistance != 0.0 or planToday.runtime != 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-danger p-1">
                                                <span>
                                                    <i class="fas fa-running fa-lg fa-fw"></i>
                                                    Running
                                                </span>
                                            </div>
                                            <div class="col bg-light text-dark border border-danger rounded p-1">
                                                <div class="row no-gutters border border-danger rounded p-1 mb-1" th:if="${!planToday.runworkout.isEmpty()}">
                                                    <div class="col">
                                                        <span style="white-space: pre-wrap" th:text="${planToday.runworkout}"></span>
                                                    </div>
                                                </div>
                                                <dl class="row flex-wrap no-gutters border border-danger rounded pt-1 px-1 mb-0">
                                                    <dt class="col-12 col-sm-5">Total Distance (mi):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planToday.rundistance}"></span>
                                                    </dd>
                                                    <div class="w-100"></div>
                                                    <dt class="col-12 col-sm-5">Total Time (min):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planToday.runtime}"></span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" th:if="${planToday.runworkout.isEmpty() and planToday.rundistance == 0.0 and planToday.runtime == 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-secondary p-1">
                                                <span>
                                                    <i class="fas fa-running fa-lg fa-fw"></i>
                                                    Running
                                                </span>
                                            </div>
                                            <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                                <span class="font-weight-light font-italic">
                                                    <i class="fas fa-running fa-4x fa-fw py-2"></i>
                                                    <br>
                                                    Rest
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row flex-column no-gutters p-2" th:if="${planToday == null}">
                                    <div class="col text-secondary p-1">
                                        <span>
                                            <i class="fas fa-swimmer fa-lg fa-fw"></i>
                                            Swimming
                                        </span>
                                    </div>
                                    <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                        <span class="font-weight-light font-italic">
                                            <i class="fas fa-swimmer fa-4x fa-fw py-2"></i>
                                            <br>
                                            Rest
                                        </span>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col text-secondary p-1">
                                        <span>
                                            <i class="fas fa-biking fa-lg fa-fw"></i>
                                            Cycling
                                        </span>
                                    </div>
                                    <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                        <span class="font-weight-light font-italic">
                                            <i class="fas fa-biking fa-4x fa-fw py-2"></i>
                                            <br>
                                            Rest
                                        </span>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col text-secondary p-1">
                                        <span>
                                            <i class="fas fa-running fa-lg fa-fw"></i>
                                            Running
                                        </span>
                                    </div>
                                    <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                        <span class="font-weight-light font-italic">
                                            <i class="fas fa-running fa-4x fa-fw py-2"></i>
                                            <br>
                                            Rest
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm col-xl-5 p-1 m-2">
                        <div class="row flex-column no-gutters rounded-lg shadow-lg">
                            <div class="col border-top border-secondary rounded-top text-light bg-dark">
                                <div class="row justify-content-between no-gutters border-bottom border-light px-2 pt-2">
                                    <div class="col-7">
                                        <h5>Tomorrow's Training Plan</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row flex-column no-gutters p-2" th:if="${planTomorrow != null}">
                                    <div class="col" th:if="${!planTomorrow.swimworkout.isEmpty() or planTomorrow.swimdistance != 0.0 or planTomorrow.swimtime != 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-info p-1">
                                                <span>
                                                    <i class="fas fa-swimmer fa-lg fa-fw"></i>
                                                    Swimming
                                                </span>
                                            </div>
                                            <div class="col bg-light text-dark border border-info rounded p-1">
                                                <div class="row no-gutters border border-info rounded p-1 mb-1" th:if="${!planTomorrow.swimworkout.isEmpty()}">
                                                    <div class="col">
                                                        <span style="white-space: pre-wrap" th:text="${planTomorrow.swimworkout}"></span>
                                                    </div>
                                                </div>
                                                <dl class="row flex-wrap no-gutters border border-info rounded pt-1 px-1 mb-0">
                                                    <dt class="col-12 col-sm-5">Total Distance (mi):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planTomorrow.swimdistance}"></span>
                                                    </dd>
                                                    <div class="w-100"></div>
                                                    <dt class="col-12 col-sm-5">Total Time (min):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planTomorrow.swimtime}"></span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" th:if="${planTomorrow.swimworkout.isEmpty() and planTomorrow.swimdistance == 0.0 and planTomorrow.swimtime == 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-secondary p-1">
                                                <span>
                                                    <i class="fas fa-swimmer fa-lg fa-fw"></i>
                                                    Swimming
                                                </span>
                                            </div>
                                            <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                                <span class="font-weight-light font-italic">
                                                    <i class="fas fa-swimmer fa-4x fa-fw py-2"></i>
                                                    <br>
                                                    Rest
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col" th:if="${!planTomorrow.cycleworkout.isEmpty() or planTomorrow.cycledistance != 0.0 or planTomorrow.cycletime != 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-warning p-1">
                                                <span>
                                                    <i class="fas fa-biking fa-lg fa-fw"></i>
                                                    Cycling
                                                </span>
                                            </div>
                                            <div class="col bg-light text-dark border border-warning rounded p-1">
                                                <div class="row no-gutters border border-warning rounded p-1 mb-1" th:if="${!planTomorrow.cycleworkout.isEmpty()}">
                                                    <div class="col">
                                                        <span style="white-space: pre-wrap" th:text="${planTomorrow.cycleworkout}"></span>
                                                    </div>
                                                </div>
                                                <dl class="row flex-wrap no-gutters border border-warning rounded pt-1 px-1 mb-0">
                                                    <dt class="col-12 col-sm-5">Total Distance (mi):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planTomorrow.cycledistance}"></span>
                                                    </dd>
                                                    <div class="w-100"></div>
                                                    <dt class="col-12 col-sm-5">Total Time (min):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planTomorrow.cycletime}"></span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" th:if="${planTomorrow.cycleworkout.isEmpty() and planTomorrow.cycledistance == 0.0 and planTomorrow.cycletime == 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-secondary p-1">
                                                <span>
                                                    <i class="fas fa-biking fa-lg fa-fw"></i>
                                                    Cycling
                                                </span>
                                            </div>
                                            <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                                <span class="font-weight-light font-italic">
                                                    <i class="fas fa-biking fa-4x fa-fw py-2"></i>
                                                    <br>
                                                    Rest
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col" th:if="${!planTomorrow.runworkout.isEmpty() or planTomorrow.rundistance != 0.0 or planTomorrow.runtime != 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-danger p-1">
                                                <span>
                                                    <i class="fas fa-running fa-lg fa-fw"></i>
                                                    Running
                                                </span>
                                            </div>
                                            <div class="col bg-light text-dark border border-danger rounded p-1">
                                                <div class="row no-gutters border border-danger rounded p-1 mb-1" th:if="${!planTomorrow.runworkout.isEmpty()}">
                                                    <div class="col">
                                                        <span style="white-space: pre-wrap" th:text="${planTomorrow.runworkout}"></span>
                                                    </div>
                                                </div>
                                                <dl class="row flex-wrap no-gutters border border-danger rounded pt-1 px-1 mb-0">
                                                    <dt class="col-12 col-sm-5">Total Distance (mi):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planTomorrow.rundistance}"></span>
                                                    </dd>
                                                    <div class="w-100"></div>
                                                    <dt class="col-12 col-sm-5">Total Time (min):</dt>
                                                    <dd class="col-12 col-sm">
                                                        <span th:text="${planTomorrow.runtime}"></span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" th:if="${planTomorrow.runworkout.isEmpty() and planTomorrow.rundistance == 0.0 and planTomorrow.runtime == 0}">
                                        <div class="row flex-column no-gutters">
                                            <div class="col text-secondary p-1">
                                                <span>
                                                    <i class="fas fa-running fa-lg fa-fw"></i>
                                                    Running
                                                </span>
                                            </div>
                                            <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                                <span class="font-weight-light font-italic">
                                                    <i class="fas fa-running fa-4x fa-fw py-2"></i>
                                                    <br>
                                                    Rest
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row flex-column no-gutters p-2" th:if="${planTomorrow == null}">
                                    <div class="col text-secondary p-1">
                                        <span>
                                            <i class="fas fa-swimmer fa-lg fa-fw"></i>
                                            Swimming
                                        </span>
                                    </div>
                                    <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                        <span class="font-weight-light font-italic">
                                            <i class="fas fa-swimmer fa-4x fa-fw py-2"></i>
                                            <br>
                                            Rest
                                        </span>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col text-secondary p-1">
                                        <span>
                                            <i class="fas fa-biking fa-lg fa-fw"></i>
                                            Cycling
                                        </span>
                                    </div>
                                    <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                        <span class="font-weight-light font-italic">
                                            <i class="fas fa-biking fa-4x fa-fw py-2"></i>
                                            <br>
                                            Rest
                                        </span>
                                    </div>
                                    <div class="w-100 dropdown-divider"></div>
                                    <div class="col text-secondary p-1">
                                        <span>
                                            <i class="fas fa-running fa-lg fa-fw"></i>
                                            Running
                                        </span>
                                    </div>
                                    <div class="col bg-light text-secondary text-center border border-secondary rounded p-1">
                                        <span class="font-weight-light font-italic">
                                            <i class="fas fa-running fa-4x fa-fw py-2"></i>
                                            <br>
                                            Rest
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <script type="text/javascript" th:inline="javascript">
        const userBirthdate = [[${user.getBirthdate()}]];
        const userHeight = [[${user.getHeight()}]];
        const userWeight = [[${user.getWeight()}]];
    </script>
    <script th:src="@{/js/home.js}"></script>
</body>
</html>