<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='Input Maintenance Note')">
    <title>Input Maintenance Note</title>
</head>
<body>
	<div th:replace="fragments/header :: navbar"></div>

	<div class="container-fluid">
		<div class="row wrapper min-vh-100 flex-column flex-sm-row">
			<div th:replace="fragments/header :: sidebar"></div>
			<main class="col bg-faded">

				<div class = "container pt-2">
					<h1 class = "display-4">Input Maintenance Note</h1>

					<form action = "#" th:action = "@{/trilog/bikeMaintenanceNotes}" th:object = "${bikeMainNote}"   method ="post" >

						<div class = "row form-group">
							<div class = "col-lg-6">
								<label for= "note" >Maintenance Note </label>
								<!-- <input type = "text" id= "note" class= form-control th:field = "*{note}" placeholder = "note" >-->
								<textarea class="form-control" id="note" th:field = "*{note}" placeholder = "note" rows="3"></textarea>
							</div>
						</div>

						<div class="row form-group">
							<div class = "col-lg-6">
								<label for= "swimDate" >Maintenance Date </label>
								<input type = "date" id = "date" class= form-control th:field = "*{date}" placeholder = "date" >
							</div>
						</div>

						<button type = "submit" class = "btn btn-lg btn-primary"> Submit </button>
						<a class = "btn btn-lg btn-warning" th:ref = "@{/trilog/bikeMaintenanceNotes}"> Cancel </a>

					</form>
				</div>

			</main>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>