<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='Login')">
    <title>Login</title>
</head>
<body class="login-page">

    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <img src="/img/trilog.png">
        </div>
        <div class="d-flex justify-content-center">Invalid password reset token</div>
        <div class="d-flex justify-content-center">
            <small><a href="/login">Return to login</a></small>
        </div>
    </div>

</body>
</html>