<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='Log Activity')">
    <title>Log Activity</title>
</head>
<body>
    <div th:replace="fragments/header :: navbar"></div>

    <div class="container-fluid">
        <div class="row wrapper min-vh-100 flex-column flex-sm-row">
            <div th:replace="fragments/header :: sidebar"></div>
            <main class="col bg-faded">
                <!-- ------------------------ -->
                <!-- START: edit page content -->
                <!-- ------------------------ -->
                <div class="container p-3 m-1">
                    <h2>Log Activity</h2>
                   <form action = "#" th:action = "@{/trilog/swim}" th:object = "${newSwim}"   method ="post" >
					
			<div class = "row form-group">
				<div class = "col-lg-6">
					<label for= "distance" >Distance(mi) </label>
					<input type = "number" id= "distance" class= form-control th:field = "*{distance}" placeholder = "distance" >					
				</div>	
			</div>
				
			
            <div class="row form-group">					
				<div class = "col-lg-6">
					<label for= "time" >Time(min) </label>
					<input type = "number" id = "time" class= form-control th:field = "*{time}" placeholder = "minutes" >				
				</div>	
			</div>
			
			<div class="row form-group">
				<div class = "col-lg-6">
					<label for= "swimDate" >Swim date </label>
					<input type = "date" id = "swimDate" class= form-control th:field = "*{swimDate}" placeholder = "date" >				
				</div>	
			</div>
		
		
		
			<button type = "submit" class = "btn btn-lg btn-primary"> Submit </button>
			<a class = "btn btn-lg btn-warning" th:ref = "@{/trilog/swim}"> Cancel </a>
		
		</form>
                </div>
                <!-- ---------------------- -->
                <!-- END: edit page content -->
                <!-- ---------------------- -->
            </main>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>