<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='Login')">
    <title>Login</title>
</head>
<body class="login-page">

    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <img src="/img/trilog.png">
        </div>
        <div class="d-flex justify-content-center login-form">
            <form th:action="@{/reset-password}" method="post">
                <div class="form-group row align-items-center">
                    <div class="reset-password-form col-xs-2">
                        <div class="inputrow d-flex">
                            <label class="mt-3" for="newPasswordTB">New Password</label>
                            <input class="mt-3" type="password" id="newPasswordTB" name="newPassword">
                        </div>
                        <div class="inputrow d-flex">
                            <label class="mt-3" for="verifyPasswordTB">Verify Password</label>
                            <input class="mt-3" type="password" id="verifyPasswordTB">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button id="submitBTN" class="btn mt-2" type="submit">Reset Password</button>
                        </div>
                        <input type="hidden" id="token" name="token" th:value="${token}">
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
<script src="/js/password-reset.js"></script>

</html>